html {background-color: #FEEDEC;
  font-family: 'Open Sans', sans-serif;  
  color: #370C06;
}

body{
  font-family: 'Open Sans', sans-serif;  
  color: #370C06;
    
}

a:link {
    text-decoration: none;
    color: #1E0D0B;
}

a:visited {
    text-decoration: none;
    color: #1E0D0B;
}

a:hover {
    text-decoration: underline;
    color: #1E0D0B;
}

a:active {
    text-decoration: underline;
    color: #1E0D0B;
}

.navBar{
    overflow: hidden;
    background-color: #BD897E; 
    display: flex;
    justify-content: center;
}
.navBar a{
    float: left;
    display: block;
    color: #370C06;
    padding: 15px 15px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.navBar a:hover{
    background-color: #EEC5BE;
    color:#1E0D0B;
}

.navBar input[type=text]{
  padding: 6px;
  border-radius: 20px;
  border-color: #370C06;
  margin-top: 9px;
  margin-right: 6px;
  margin-bottom: 9px;
  border: 2px solid #370C06;
}

.pageTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEC5BE ;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
    font-size: 40px;
    color: #370C06 ;
    padding-top: 30px;
    padding-bottom: 30px;
}

#titleDescription{
    font-weight: lighter;
    font-size: 14px;
}

.topImage {
  display: flex;
  justify-content: center;
}

.main{
  display: flex;
  justify-content: center;
}

.bottomImage {
    display: flex;
    justify-content: center;
  }

* {
    box-sizing: border-box;
  }
  
  /* Center website */
  .main {
    max-width: 1000px;
    margin: auto;
  }
  
  .row {
    margin: 12px -12px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 4px;
  }
  
  /* Create four equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.3%;
  }
  
  /* Content */
  .content {
    padding: 4px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }

.content {
    position: sticky;

    width: 80%;

  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .content:hover .image {
    opacity: 0.3;
  }
  
  .content:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #BD897E;
    color: #F2D4CE;
    font-size: 16px;
    padding: 16px 32px;
  }


.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEC5BE;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #370C06;
    margin-top: 10px;
    margin-bottom: 10px;
}

#newsletterTitle{
    font-weight: bold;
    font-size: 16px; 
}

#newsletterDescription{
    font-size: 12px;
}

#subscribeButton{
    margin-left: 12px;
    color: #F2D4CE;
    font-weight: bold;
    background-color: #CF978C ;
    border-radius: 5px;
    border: 0px;
}

#subscribeButton:hover{
    background-color: #FEEDEC;
    border: 2px solid #370C06;
    color: #370C06;
}


.navBarFooter{
    overflow: hidden;
    background-color: #BD897E;
    display: flex;
    justify-content: center;
}
.navBarFooter a{
    float: left;
    display: block;
    color: #370C06;
    padding: 15px 15px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
}

.navBarFooter a:hover{
    background-color: #EEC5BE;
    color:#1E0D0B;
}

.navBarFooter input[type=text]{
    float: right;
    padding: 6px;
    border-radius: 20px;
    border-color: #370C06;
    margin-top: 9px;
    margin-right: 6px;
    border: 2px solid #370C06;
}